@font-face {
  font-family: 'Fashion Fetish';
  src: url('/assets/font/FashionFetishSmallCaps.ttf');
}
body {
  background-color: rgb(150, 165, 183);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  min-height: 100vh;
}
.bgimg {
  background-attachment: scroll;
  background-image: url("/assets/images/brendan_header.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-color: #1E1E20;
}
.header {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(90vh - 50px);
}
.hero {
  font-family: 'Fashion Fetish', sans-serif;
  text-align: center;
}
h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 5px;
  color: whitesmoke;
  text-shadow: 1px 2px #737373;
}
.navbar {
  align-items: center;
  background-color:rgba(43, 40, 40, 0.7);
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 10px 10px;
  text-align: right;
  top: 0;
  width: 100vw;
  z-index: 1000;
}
.hero {
  text-align: center;
}
.social-links > a {
  color: whitesmoke;
  font-size: 30px;
  opacity: 0.5;
  padding: 0 10px;
}
.fb:hover {
  color: #4267b2;
  opacity: 1;
}
.sc:hover {
  color: #f50;
  opacity: 1;
}
.sp:hover {
  color: #6ae368;
  opacity: 1;
}
.ig:hover {
  color: aliceblue;
  opacity: 1;
}
.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px 5px;
  height: 500px;
}
.feed:nth-child(even) {
  background-color: #1E1E20;
}
.feed-header {
  margin-bottom: 20px;
  text-align: center;
}
.feed-title {
  color: whitesmoke;
  font-family: 'Fashion Fetish', sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.center-items {
  display: flex;
  justify-content: center;
}
.pic {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 5px;
  width:  306px;
  height: 306px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; 
}
.album {
  width: 360px;
  height: 360px;
}
.instagram {
  border: 5px solid #fff;
  margin: 5px;
  width:  306px;
  height: 306px;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: whitesmoke;
  background-color: #1E1E20;
  opacity: 0;
  width: 100%;
}
.pic:hover .overlay {
  opacity: 0.9;
}
.music-links {
  display: flex;
  font-size: 20px;
  justify-content: space-around;
}
.music-links > a {
  background: rgba(255,255,255, 0.5);
  border-radius: 5px;
  color: black;
  font-weight: 500;
  padding: 8px;
  text-decoration: none;
}
.music-links > a:hover {
  background-color: rgba(255,255,255, 0.9);
  border-radius: 5px;
}
.footer {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  background-color: #1E1E20;
}
.copyright {
  color: whitesmoke;
  font-size: 15px;
  padding-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  h1 { font-size: 30px; }
  h2 { font-size: 22px; }
  .announcement {
    font-size: 15px;
    flex-direction: column-reverse;
  }
  .music {
    font-size: 20px;
  }
  .music-links > a {
    font-size: 15px;
  }
  .mini-title {
    display: none;
  }
  .header {
    min-height: calc(60vh - 50px);
  }
  .navbar {
    align-items: baseline;    
    display: flex;
    justify-content: center;
  }
  #youtubefeed {
    align-content: space-between;
    flex-direction: column;
  }
  #youtubefeed > iframe {
    width: 90vw;
  }
  .footer {
    background-color: rgba(43, 40, 40, 0.7);
  }
  .copyright {
    color: whitesmoke;
    font-size: 10px;
  }
}
