@font-face {
  font-family: 'Fashion Fetish';
  src: url('/assets/font/FashionFetishSmallCaps.ttf');
}

body {
  background-image: url('/assets/images/city.png'), linear-gradient(#2b3a7d, #2c4e8e);
  background-repeat: repeat-x;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 5px;
}
h2 {
  font-size: 40px;
  margin-top: 5px;
}

.artist-name,
.album-title {
  font-family: 'Fashion Fetish', sans-serif;
  text-align: center;
  transition-timing-function: ease-in-out;
  transition: 2s;
  transform: translateY(-550%);
}
.album-title {
  color: whitesmoke;
}
.social-links {
  background-color: #080a13;
  display: block;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100vw;
  z-index: 1000;
}
.social-links > a {
  color: whitesmoke;
  font-size: 30px;
  opacity: 0.5;
  padding: 0 10px;
  transition: 0.5s;
}
.fb:hover {
  color: #4267b2;
  opacity: 1;
}
.sc:hover {
  color: #f50;
  opacity: 1;
}
.sp:hover {
  color: #6ae368;
  opacity: 1;
}

.announcement {
  align-items: center;
  animation: appear .5s;
  color: whitesmoke;
  display: flex;
  font-family: 'Fashion Fetish', sans-serif;
  font-size: 40px;
  justify-content: space-around;
}
.itunes {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.copyright {
  bottom: 0;
  color: whitesmoke;
  display: block;
  font-family: 'Fashion Fetish', sans-serif;
  font-size: 10px;
  padding-bottom: 5px;
  position: fixed;
  text-align: center;
  width: 100vw;
}

@media screen and (max-width: 700px) {
  h1 { font-size: 30px; }
  h2 { font-size: 22px; }
  .announcement {
    font-size: 15px;
    flex-direction: column-reverse;
  }
}

.reveal {
  animation: appear 5s;
  transform: translateY(0%);
}
.shift {
  transform: translateX(0%);
}
@keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
