@font-face {
  font-family: 'Fashion Fetish';
  src: url('/assets/font/FashionFetishSmallCaps.ttf');
}
body {
  background-color: #1E1E20;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  min-height: 100vh;
}
.bgimg {
  background-attachment: scroll;
  background-image: url("/assets/images/brendan-skyline.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #1E1E20;
  background-size: cover;
}
.header {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(90vh - 50px);
}
.hero {
  font-family: 'Fashion Fetish', sans-serif;
  text-align: center;
}
h1 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 5px;
  color: whitesmoke;
  text-shadow: 1px 2px #737373;
}
.navbar {
  align-items: center;
  background-color:rgba(43, 40, 40, 0.7);
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 10px 10px;
  text-align: right;
  top: 0;
  width: 100vw;
  z-index: 1000;
}
.social-links > a {
  color: whitesmoke;
  display: inline-block;
  font-size: 30px;
  height: 40px;
  margin: 5px;
  opacity: 0.5;
  text-align: center;
  width: 40px;
}
.social-links > a:hover {
  background-color: #96A5B7;
  border-radius: 50px;
  opacity: 1.0;
}
.feed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px 5px;
  height: 500px;
}
.feed:nth-child(even) {
  background-color: #1E1E20;
}
.feed:nth-child(odd) {
  background-color: rgb(150, 165, 183);
}
.feed-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: center;
}
.title {
  color: whitesmoke;
  font-family: 'Fashion Fetish', sans-serif;
  font-size: 40px;
  font-weight: 600;
}
.subtitle {
  color: #1E1E20;
  font-size: 20px;
}
.center-items {
  display: flex;
  justify-content: center;
}
.center-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.pic {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 5px;
  width:  306px;
  height: 306px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; 
}
.album {
  width: 360px;
  height: 360px;
}
.instagram {
  border: 5px solid #fff;
  margin: 5px;
  width:  306px;
  height: 306px;
}
#youtubefeed-mobile-only {
  display: none;
}
.video {
  margin: 5px;
}
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: whitesmoke;
  background-color: #1E1E20;
  opacity: 0;
  width: 100%;
}
.pic:hover .overlay {
  opacity: 0.9;
}
.footer {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #1E1E20;
}
.copyright {
  color: whitesmoke;
  font-size: 15px;
  padding-bottom: 5px;
  text-align: center;
}

@media screen and (max-width: 700px) {
  h1 { font-size: 30px; }
  h2 { font-size: 22px; }
  .header {
    min-height: calc(60vh - 50px); 
  }
  .feed {
    flex-direction: column;
  }
  #instafeed > a:not(:first-child) {
    display: none;
  }
  #youtubefeed {
    display: none;
  }
  #youtubefeed-mobile-only {
    display: flex;
  }
 .copyright {
    color: whitesmoke;
    font-size: 15px;
  }
}